  <div id="footer">
    <div id="footer_content">
      <%= image_tag "ovo.png" %>
      <p>Treino Livre - Treinamentos on-line sob demanda</p>
      <p>Dúvidas, críticas ou sugestões: atendimento@treinolivre.com</p>
    </div>
  </div>
