<h1 class="title-form"><%= t ".title" %></h1>

<%= link_to(image_tag("voltar-24.png", :title => "Voltar"), course_path(@course), :class => "back-link") %><br /><br />

<%= render 'form', :course => @course, :lesson => @lesson %>

