<%= form_for([lesson, activity]) do |f| %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Tema da Atividae", :size => 50 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
